*.mat
*.npz
*.jpg
*.eps
*.m~
GERARD_PAPER/
EU_GENERAL/RESULTS_NOTES
EU_METADATA/EMAILS_WITH_EU_SUPPORT
EU_METADATA/SZR_FIGS/
EU_GENERAL/EU_GENERAL_FTRS 
EU_GENERAL/FOR_POSTER
EU_GENERAL/SZR_FIGS
EU_GENERAL/MATLAB/*.jpg
EU_GENERAL/MATLAB/*.eps
SUMMER_STUDENTS
PAPERS
FTRS
PICS
MATLAB_CODE
TAUFIK_RESULTS
WILFRED_STUFF
MODELS
SLIDES
NOTES
PRIVATE
KREMBIL_POSTER
.DS_Store
__pycache__
SBOX/.ipynb_checkpoints
.ipynb_checkpoints
.idea
